<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--<connectionStrings>
		<add name="strcon" connectionString="server=DESKTOP-PFRQIVL\SQLEXPRESS01; database=EmplManagement; uid=sa; pwd=1234$; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="EmplManagementEntities" connectionString="metadata=res://*/EmplManagement.csdl|res://*/EmplManagement.ssdl|res://*/EmplManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PFRQIVL\SQLEXPRESS01;initial catalog=EmplManagement;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>-->
</configuration>